doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CPG.IO

  body.stretched.dark
    #wrapper.clearfix
      #most-toppest
      section#slider.slider-parallax.full-screen.page-section.dark.clearfix
        .slider-parallax-inner
          .fslider(data-speed='2000', data-pause='6000', data-animation='fade', data-arrows='false', data-pagi='false', style='position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;')
            .flexslider(style='height: 100% !important;')
              .slider-wrap(style='height: inherit;')
                .slide(style="background: url('images/services-omni-channel.jpg') center center; background-size: cover; height: 100% !important;")
          a.one-page-arrow(href='#', data-scrollto='#section-couple')
            i.icon-angle-down.infinite.animated.fadeInDown
      header#header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            #logo
            nav#primary-menu.style-2.center
              ul.one-page-menu
                li
                  a(href='index-services', data-href='#most-fulfillment')
                    div Home
                li
                  a(href='#', data-href='#sku-data')
                    div Sku Data
                li
                  a(href='#', data-href='#packing')
                    div Packing
                li
                  a(href='#', data-href='#seocontent')
                    div Content
                li
                  a(href='#', data-href='#integrations')
                    div Integrations
                li
                  a(href='#', data-href='#analysis')
                    div Analysis


      section#content
        .content-wrap
          .container.clearfix
            #sku-data.heading-block.title-left.page-section
              h2 Sku Data
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-audit.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Gathering Initial SKU Data
                    span.subtitle Collecting all your product data as fast as you can send.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-gap.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Spotting Data Issues
                    span.subtitle Identify missing data and issue correction instructions.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-master.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Unified and Scalable Data
                    span.subtitle Provides an organized master and sub-template for each channel.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #packing.heading-block.title-left.page-section
              h2 Packing
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-copacking.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Primary or Secondary
                    span.subtitle Create new custom co-packing solutions, efficiently.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-kitting.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Custom Kit Development
                    span.subtitle Expanding with unique skus, on our recommendation or yours.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-variety.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Value Marketing with Variety
                    span.subtitle Analysis and execution of variety packs for obvious reasons.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #seocontent.heading-block.title-left.page-section
              h2 Content
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-content.jpg', alt='Image')
                .fbox-desc
                  h3
                    | For SEO & Completeness
                    span.subtitle Better, more complete, SEO friendly content.
            
          .clear
          .container.clearfix(style='margin-top:40px;')
            #integrations.heading-block.title-left.page-section
              h2 Integrations
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-channel.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Up and Running
                    span.subtitle Apply for vendor ID and activate across more than 30 channels.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-takeover.jpg', alt='Image')
                .fbox-desc
                  h3
                    | For existing accounts
                    span.subtitle Handover existing channel for CPGIO management.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #analysis.heading-block.title-left.page-section
              h2 Analysis & Attribution Tracking
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-reporting.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Reporting
                    span.subtitle Executive dashboards, reporting and proactive attribution tracking.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-data-science.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Advanced Analysis
                    span.subtitle Algorithmically sifting through data and proactively spotting opportunities.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/omni-repricing.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Advanced Techniques
                    span.subtitle Proprietary opportunities for automating your competitive nature.

          .clear
      // #content end
      //
        Footer
        =============================================
    include snippets/footer