doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      Document Title
      =============================================
    title CPG.IO
  body.stretched.dark
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      #most-toppest
      section#slider.slider-parallax.full-screen.page-section.dark.clearfix
        .slider-parallax-inner
          .fslider(data-speed='2000', data-pause='6000', data-animation='fade', data-arrows='false', data-pagi='false', style='position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;')
            .flexslider(style='height: 100% !important;')
              .slider-wrap(style='height: inherit;')
                .slide(style="background: url('images/services-supply-chain.jpg') center center; background-size: cover; height: 100% !important;")
          a.one-page-arrow(href='#', data-scrollto='#section-couple')
            i.icon-angle-down.infinite.animated.fadeInDown
      //
        Header
        =============================================
      header#header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            #logo
            //
              Primary Navigation
              =============================================
            nav#primary-menu.style-2.center
              ul.one-page-menu
                li
                  a(href='index-services', data-href='#most-fulfillment')
                    div Home
                li
                  a(href='#', data-href='#most-fulfillment')
                    div Fulfillment
                li
                  a(href='#', data-href='#section-handling')
                    div Handling
                li
                  a(href='#', data-href='#section-packaging')
                    div Packaging
                li
                  a(href='#', data-href='#section-oms')
                    div Order Management
                li
                  a(href='#', data-href='#section-gallery')
                    div Replenishment
                li
                  a(href='#', data-href='#section-gallery')
                    div Returns
            // #primary-menu end
      // #header end
      //
        Content
        =============================================
      section#content
        .content-wrap
          .container.clearfix
            #section-fulfillment.heading-block.title-left.page-section
              h2 Fulfillment
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-onboarding.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Inventory Onboarding
                    span.subtitle Custom packaging for your line.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-data.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Data Setup
                    span.subtitle Srubbed and dubbed.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-pick.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Pick, Pack, Ship
                    span.subtitle Same day before 6pm
          .clear
          .container.clearfix(style='margin-top:40px;')
            #section-handling.heading-block.title-left.page-section
              h2 Handling
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-truck.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Storage
                    span.subtitle Custom packaging for your line.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-fridge.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Refrigerated Goods
                    span.subtitle Temperature stable goods.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/s-lot.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Lot Tracking
                    span.subtitle Perishables, non-movers, closeouts
          .clear
      // #content end
      //
        Footer
        =============================================
      footer#footer.dark
        //
          Copyrights
          =============================================
        #copyrights
          .container.center.clearfix
            | Copyrights © 2017 All Rights Reserved by CPG.IO
            br
            .copyright-links
              a(href='') Contact Us
              |  / 
              a(href='http://twitter.com/smclweb') Twitter
        // #copyrights end
      // #footer end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='js/functions.js')
    script(type='text/javascript', src='https://maps.google.com/maps/api/js?key=YOUR_API_KEY')
    script(type='text/javascript', src='js/jquery.gmap.js')
    script(type='text/javascript').
      jQuery(document).ready( function($){
      var newDate = new Date(2017, 2, 31);
      $('#countdown-ex1').countdown({until: newDate});
      });
      jQuery(window).load(function(){
      var t=setTimeout(function(){
      $( '.flexslider .slide' ).resize();
      },500);
      });
      $('#google-map1').gMap({
      address: 'Melbourne, Australia',
      maptype: 'ROADMAP',
      zoom: 13,
      markers: [
      {
      address: 'Westgate Park, Melbourne, Australia',
      html: 'Cocktail Party'
      },
      {
      address: 'Crown Casino and Entertainment Complex, Melbourne, Australia',
      html: 'Wedding Ceremony'
      },
      {
      address: 'Federation Square, Melbourne, Australia',
      html: 'After Wedding Party'
      }
      ],
      doubleclickzoom: false,
      controls: {
      panControl: false,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false
      }
      });
