doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')

    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/swiper.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      Document Title
      =============================================
    title Home - CPG.IO
  body.stretched.dark.no-transition
    #wrapper.clearfix
      header#header.full-header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            #logo
              a.standard-logo(href='/', data-dark-logo='images/logo-dark.png')
                img(src='images/logo.png', alt='Canvas Logo')
              a.retina-logo(href='/', data-dark-logo='images/logo-dark@2x.png')
                img(src='images/logo@2x.png', alt='Canvas Logo')
            nav#primary-menu
              ul
                li.current
                  a(href='/')
                    div Home
                li
                  a(href='#')
                    div Services
                  ul
                    li
                      a(href='supply-chain')
                        div Supply Chain
                    li
                      a(href='omni-channel')
                        div Omni Channel
                    li
                      a(href='customer-support')
                        div Customer Support
                    li
                      a(href='dev-ops')
                        div Dev-ops & Hosting
                    li
                      a(href='marketing-automation')
                        div Marketing Automation
                    li
                      a(href='brand-experience')
                        div Brand & Experience
                li.mega-menu
                  a(href='#', data-href='#oc-clients')
                    div Customers
                li
                  a(href='#')
                    div Helpdesk
                li.mega-menu
                  a(href='#')
                    div Contact

              #top-search
                a#top-search-trigger(href='#')
                  i.icon-search3
                  i.icon-line-cross
                form(action='search.html', method='get')
                  input.form-control(type='text', name='q', value='', placeholder='Type & Hit Enter..')
              // #top-search end
            // #primary-menu end
      // #header end
      section#slider.slider-parallax.swiper_wrapper.clearfix
        .slider-parallax-inner
          .swiper-container.swiper-parent
            .swiper-wrapper
              .swiper-slide.dark(style="background-image: url('images/slider/swiper/5BL.jpg');")
                .container.clearfix
                  .slider-caption.slider-caption-left(style='padding-right:10%;')
                    h2(data-caption-animate='fadeInUp') Complete eCommerce Optimization
                    p(data-caption-animate='fadeInUp', data-caption-delay='200', style='padding-right:20%;')
                      | CPG.IO offers a combination of services that put you in control of your entire eCommerce operation.
              .swiper-slide.dark
                .container.clearfix
                  .slider-caption.slider-caption-left(style='padding-right:10%;')
                    h2(data-caption-animate='fadeInUp') Supply Chain Management
                    p(data-caption-animate='fadeInUp', data-caption-delay='200', style='padding-right:20%;')
                      | CPG.IO was founded on the idea that the fulfillment operation, eCommerce operationcon and content marketing teams could all operate more successfully under one roof.
                .video-wrap
                  video(poster='images/videos/explore.jpg', preload='auto', loop='', autoplay='', muted='')
                    source(src='images/.mp4', type='video/mp4')
                  .video-overlay(style='background-color: rgba(0,0,0,0.55);')
              .swiper-slide.dark
                .container.clearfix
                  .slider-caption.slider-caption-left(style='padding-right:10%;')
                    h2(data-caption-animate='fadeInUp') Content Management Services
                    p(data-caption-animate='fadeInUp', data-caption-delay='200', style='padding-right:20%;')
                      | CPG.IO helps keep all your content together, can fill in the blank and prepare you for a clever omni channel roll out.
                .video-wrap
                  video(poster='images/videos/explore2.jpg', preload='auto', loop='', autoplay='', muted='')
                    source(src='images/wind.mp4', type='video/mp4')
                  .video-overlay(style='background-color: rgba(0,0,0,0.55);')
            #slider-arrow-left
              i.icon-angle-left
            #slider-arrow-right
              i.icon-angle-right
    section#content
      section#section-about.page-section
        .container.clearfix
          .col_three_fifth.topmargin-sm.bottommargin
            img(data-animate='fadeInLeftBig', src='images/omni.jpg', alt='Imac', width='70%', style='margin-left:15%;margin-top:5%;')
          .col_two_fifth.topmargin-sm.bottommargin-lg.col_last
            .heading-block.topmargin
              h2 A ONE-STOP-SHOP.
              span
                | From processing to package engineering, all your eRetail needs managed under one roof.
            p
              | CPGIO is the only provider brands need for conducting widescale, omni channel eCommerce. One partner, one roof, all your needs, from fulfillment to marketing optimization, CPGIO is built for scale.
            a.button.button-border.button-rounded.button-large.noleftmargin.topmargin-sm(href='#') Read our Paper
          .line
        .container.clearfix
          .heading-block.center
            h2 Core Strengths
            span Blue colar eCommerce services, because someone has to.
          .col_one_third
            .feature-box.media-box
              .fbox-media
                a(href='supply-chain')
                  img(src='images/services-supply-chain.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | Supply Chain.
                  span.subtitle Because we are Reliable.
                p
                  | CPGIO acts as a master distributor for your brand. We consolidate your entire eCommerce supply chain, conduct our own replenishment and store your goods in our warehouse.
          .col_one_third
            .feature-box.media-box
              .fbox-media
                a(href='omni-channel')
                  img(src='images/services-omni-channel.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | Omni Channel.
                  span.subtitle To Redefine your Brand.
                p
                  | CPGIO is the largest seller of CPG goods on Amazon, Target and Groupon. We have more than 35 integrations with major eTailers, most of which bypass typical marketplace integrations.
          .col_one_third.col_last
            .feature-box.media-box
              .fbox-media
                a(href='customer-support')
                  img(src='images/services-customer-development.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | Customer Support.
                  span.subtitle To make Customers Happy.
                p
                  | Small parcel distribution and customer service go together like white on rice. Our team has instant visibility into issues and can respond to customer support tickets lightning fast.
          .clear
          .col_one_third
            .feature-box.media-box
              .fbox-media
                a(href='dev-ops')
                  img(src='images/services-hosting.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | Compliant Hosting & Process.
                  span.subtitle Because we know Your Concerns.
                p
                  | When managing carts, servers and technology, we strive to be fully compliant. We include documentation and proof of SLA requirements and a disaster recovery process, storage requirements and backup procedures.
          .col_one_third
            .feature-box.media-box
              .fbox-media
                a(href='marketing-automation')
                  img(src='images/s-market-automation.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | Customer Development.
                  span.subtitle To Grow and Accellerate Sales.
                p
                  | CPGIO has an extremely intimate knowledge of the individual marketing programs offered on each platform, from Amazon, to Target and Walmart.com, we can navigate your brand through quotas and hyper growth.
          .col_one_third.col_last
            .feature-box.media-box
              .fbox-media
                a(href='brand-experience')
                  img(src='images/s-brand.jpg', alt='Why choose Us?')
              .fbox-desc
                h3
                  | High End Market Positioning.
                  span.subtitle Following Suit with Your Brand.
                p
                  | Our customers have high expectations for the look and feel of their brand across all channels. We also have a knack for design and collaborating with other agencies of record.
          .clear
        
        .container.clearfix(style='margin-bottom:0%;')
          #oc-clients.owl-carousel.owl-carousel-full.image-carousel.carousel-widget(data-margin='30', data-loop='true', data-nav='false', data-autoplay='5000', data-pagi='false', data-items-xxs='2', data-items-xs='3', data-items-sm='4', data-items-md='5', data-items-lg='6', style='padding: 20px 0;')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/1.png', alt='Clients')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/2.png', alt='Clients')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/3.png', alt='Clients')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/4.png', alt='Clients')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/5.png', alt='Clients')
            .oc-item
              a(href='http://logofury.com/')
                img(src='images/clients/6.png', alt='Clients')
 

      footer#footer.dark
        a.button.button-full.center.tright(style="margin-top:-170px;background-color:#ff9f00;'>\
        <div class=", container='')
          | Contact us today for a custom proposal. 
          strong info@cpg.io
          i.icon-caret-right(style='top:4px;')

        #copyrights
          .container.clearfix
            .col_half
              | Copyrights © 2017 All Rights Reserved by CPG.IO Inc.
              br
            .col_half.col_last.tright
              i.icon-envelope2
              |  info@CPG.IO 
              span.middot ·
              i.icon-headphones
              |  773-321-0000
      #gotoTop.icon-angle-up
      //
        External JavaScripts
        =============================================
      script(type='text/javascript', src='js/jquery.js')
      script(type='text/javascript', src='js/plugins.js')
      //
        Footer Scripts
        =============================================
      script(type='text/javascript', src='js/functions.js')
