doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    //
      Stylesheets
      =============================================
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // SLIDER REVOLUTION 5.x CSS SETTINGS
    link(rel='stylesheet', type='text/css', href='include/rs-plugin/css/settings.css', media='screen')
    link(rel='stylesheet', type='text/css', href='include/rs-plugin/css/layers.css')
    link(rel='stylesheet', type='text/css', href='include/rs-plugin/css/navigation.css')
    //
      Document Title
      =============================================
    title Home - Shop | Canvas
    style.
      .revo-slider-emphasis-text {
      font-size: 58px;
      font-weight: 700;
      letter-spacing: 1px;
      font-family: 'Raleway', sans-serif;
      padding: 15px 20px;
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      }
      .revo-slider-desc-text {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      width: 650px;
      text-align: center;
      line-height: 1.5;
      }
      .revo-slider-caps-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: 'Raleway', sans-serif;
      }
      .tp-video-play-button { display: none !important; }
      .tp-caption { white-space: nowrap; }
  body.stretched
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      //
        Top Bar
        =============================================
      header#header.transparent-header.dark.full-header.no-sticky
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            //
              Logo
              =============================================
            #logo
              a.standard-logo(href='index-fullscreen-slider.html#')
                img(src='images/logo.png', alt='Canvas Logo')
              a.retina-logo(href='index-fullscreen-slider.html#')
                img(src='images/logo@2x.png', alt='Canvas Logo')
            // #logo end
            //
              Primary Navigation
              =============================================
            nav#primary-menu
              ul
                li.current
                  a.dark-override(href='index-fullscreen-slider.html#')
                    div Home
                li
                  a.dark-override(href='index-shop.html')
                    div Shop
                li.mega-menu
                  a.dark-override(href='#')
                    div How-To's
                li.mega-menu
                  a.dark-override(href='#')
                    div Blog
                li
                  a.dark-override(href='')
                    div Docs
                li.mega-menu
                  a.dark-override(href='#')
                    div Support
              //
                Top Cart
                =============================================
              #top-cart
                a#top-cart-trigger(href='#')
                  i.icon-shopping-cart
                  span 5
                .top-cart-content
                  .top-cart-title
                    h4 Shopping Cart
                  .top-cart-items
                    .top-cart-item.clearfix
                      .top-cart-item-image
                        a(href='#')
                          img(src='images/shop/small/1.jpg', alt='Blue Round-Neck Tshirt')
                      .top-cart-item-desc
                        a(href='#') Blue Round-Neck Tshirt
                        span.top-cart-item-price $19.99
                        span.top-cart-item-quantity x 2
                    .top-cart-item.clearfix
                      .top-cart-item-image
                        a(href='#')
                          img(src='images/shop/small/6.jpg', alt='Light Blue Denim Dress')
                      .top-cart-item-desc
                        a(href='#') Light Blue Denim Dress
                        span.top-cart-item-price $24.99
                        span.top-cart-item-quantity x 3
                  .top-cart-action.clearfix
                    span.fleft.top-checkout-price $114.95
                    button.button.button-3d.button-small.nomargin.fright View Cart
              // #top-cart end
              //
                Top Search
                =============================================
              #top-search
                a#top-search-trigger(href='#')
                  i.icon-search3
                  i.icon-line-cross
                form(action='search.html', method='get')
                  input.form-control(type='text', name='q', value='', placeholder='Type & Hit Enter..')
              // #top-search end
            // #primary-menu end
      // #header end
      section#slider.slider-parallax.revslider-wrap.ohidden.clearfix
        //
          #################################
          - THEMEPUNCH BANNER -
          #################################
        .tp-banner-container
          .tp-banner
            ul
              // SLIDE
              li(data-transition='fade', data-slotamount='1', data-masterspeed='1500', data-delay='10000', data-saveperformance='off', data-title='Z-Wave Sensors', style='background-color: #F6F6F6;')
                // LAYERS
                // LAYER NR. 2
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-caps-text.uppercase(data-x='100', data-y='50', data-customin='x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='400', data-start='1000', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='')
                  img(src='images/slider/rev/shop/sensors-dome.png', alt='Girl')
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-emphasis-text.nopadding.noborder(data-x='570', data-y='105', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1200', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style=' color: #6e009b; max-width: 430px; line-height: 1.15;')
                  | A Kickass 
                  br
                  | Sensor Collection
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-desc-text.tleft(data-x='570', data-y='275', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1400', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style=' color: #333; max-width: 550px; white-space: normal;')
                  | We have created a Design that looks Awesome, performs Brilliantly & senses Orientations.
                .tp-caption.customin.ltl.tp-resizeme(data-x='570', data-y='375', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1550', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='')
                  a.button.button-border.button-large.button-rounded.tright.nomargin(href='index-restaurant.html')
                    span Where to Buy
                    i.icon-angle-right
              // SLIDE
              li(data-transition='slideup', data-slotamount='1', data-masterspeed='1500', data-delay='10000', data-saveperformance='off', data-title='Guardian', style='background-color: #f6f6f6;')
                // LAYERS
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-caps-text.uppercase(data-x='630', data-y='78', data-customin='x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='400', data-start='1000', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='')
                  img(src='images/slider/rev/shop/bag.png', alt='Bag')
                // LAYER NR. 2
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-emphasis-text.nopadding.noborder(data-x='0', data-y='140', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1200', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style=' color: #300043; line-height: 1.15;') G U A R D I A N
                .tp-caption.customin.ltl.tp-resizeme.revo-slider-desc-text.tleft(data-x='0', data-y='240', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1400', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style=' color: #333; max-width: 550px; white-space: normal;')
                  | Grantees insurmountable challenges invest protect, growth improving quality social entrepreneurship.
                .tp-caption.customin.ltl.tp-resizeme(data-x='0', data-y='340', data-customin='x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='700', data-start='1550', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='')
                  a.button.button-border.button-large.button-rounded.tright.nomargin(href='#')
                    span Start Shopping
                    i.icon-angle-right
                .tp-caption.customin.utb.tp-resizeme.revo-slider-caps-text.uppercase(data-x='510', data-y='0', data-customin='x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-speed='600', data-start='2100', data-easing='easeOutQuad', data-splitin='none', data-splitout='none', data-elementdelay='0.01', data-endelementdelay='0.1', data-endspeed='1000', data-endeasing='Power4.easeIn', style='')
                  img(src='images/slider/rev/shop/tag.png', alt='Bag')
        // END REVOLUTION SLIDER
      //
        Content
        =============================================
      section#content
        .content-wrap
          .container.clearfix
            .col-md-8.nopadding
              .col-md-6.noleftpadding.bottommargin-sm
                a(href='#')
                  img(src='images/shop/banners/1.jpg', alt='Image')
              .col-md-6.noleftpadding.bottommargin-sm
                a(href='#')
                  img(src='images/shop/banners/1.jpg', alt='Image')
              .clear
              .col-md-12.noleftpadding(style='margin-top:-1.5%;')
                a(href='#')
                  img(src='images/shop/banners/4.jpg', alt='Image')
            .col-md-4.nopadding
              a(href='#')
                img(src='images/shop/banners/9.jpg', alt='Image')
            .clear
            #tab-3.tabs.topmargin-lg.clearfix
              ul.tab-nav.clearfix
                li
                  a(href='#tabs-9') New Arrivals
                li
                  a(href='#tabs-10') Best sellers
                li
                  a(href='#tabs-11') You may like
              .tab-container
                #tabs-9.tab-content.clearfix
                  #shop.shop.clearfix
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/dress/1.jpg', alt='Checked Short Dress')
                        a(href='#')
                          img(src='images/shop/dress/1-1.jpg', alt='Checked Short Dress')
                        .sale-flash 50% Off*
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Dome On/Off Plug
                        .product-price
                          del $24.99
                          ins $12.49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/dress/1-1.jpg', alt='Slim Fit Chinos')
                        a(href='#')
                          img(src='images/shop/dress/1.jpg', alt='Slim Fit Chinos')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Dome Sirens
                        .product-price $39.99
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        .fslider(data-arrows='false')
                          .flexslider
                            .slider-wrap
                              .slide
                                a(href='#')
                                  img(src='images/shop/shoes/1.jpg', alt='Dark Brown Boots')
                              .slide
                                a(href='#')
                                  img(src='images/shop/shoes/1-1.jpg', alt='Dark Brown Boots')
                              .slide
                                a(href='#')
                                  img(src='images/shop/shoes/1-2.jpg', alt='Dark Brown Boots')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Dome Leak Detector
                        .product-price $49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-empty
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/dress/1.jpg', alt='Light Blue Denim Dress')
                        a(href='#')
                          img(src='images/shop/dress/1-1.jpg', alt='Light Blue Denim Dress')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Dome Water Shut-off Valve
                        .product-price $19.95
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-empty
                #tabs-10.tab-content.clearfix
                  #shop.shop.clearfix
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/dress/1.jpg', alt='Unisex Sunglasses')
                        a(href='#')
                          img(src='images/shop/dress/1-1.jpg', alt='Unisex Sunglasses')
                        .sale-flash Sale!
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Unisex Sunglasses
                        .product-price
                          del $19.99
                          ins $11.99
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-empty
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/tshirts/1.jpg', alt='Blue Round-Neck Tshirt')
                        a(href='#')
                          img(src='images/shop/tshirts/1-1.jpg', alt='Blue Round-Neck Tshirt')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Blue Round-Neck Tshirt
                        .product-price $9.99
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/watches/1.jpg', alt='Silver Chrome Watch')
                        a(href='#')
                          img(src='images/shop/watches/1-1.jpg', alt='Silver Chrome Watch')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Silver Chrome Watch
                        .product-price $129.99
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/shoes/2.jpg', alt='Men Grey Casual Shoes')
                        a(href='#')
                          img(src='images/shop/shoes/2-1.jpg', alt='Men Grey Casual Shoes')
                        .sale-flash Sale!
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Men Grey Casual Shoes
                        .product-price
                          del $45.99
                          ins $39.49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                          i.icon-star-empty
                          i.icon-star-empty
                #tabs-11.tab-content.clearfix
                  #shop.shop.clearfix
                    .product.clearfix
                      .product-image
                        .fslider(data-arrows='false')
                          .flexslider
                            .slider-wrap
                              .slide
                                a(href='#')
                                  img(src='images/shop/dress/3.jpg', alt='Pink Printed Dress')
                              .slide
                                a(href='#')
                                  img(src='images/shop/dress/3-1.jpg', alt='Pink Printed Dress')
                              .slide
                                a(href='#')
                                  img(src='images/shop/dress/3-2.jpg', alt='Pink Printed Dress')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Pink Printed Dress
                        .product-price $39.49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-empty
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/pants/5.jpg', alt='Green Trousers')
                        a(href='#')
                          img(src='images/shop/pants/5-1.jpg', alt='Green Trousers')
                        .sale-flash Sale!
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Green Trousers
                        .product-price
                          del $24.99
                          ins $21.99
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-half-full
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/sunglasses/2.jpg', alt='Men Aviator Sunglasses')
                        a(href='#')
                          img(src='images/shop/sunglasses/2-1.jpg', alt='Men Aviator Sunglasses')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Men Aviator Sunglasses
                        .product-price $13.49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star-empty
                    .product.clearfix
                      .product-image
                        a(href='#')
                          img(src='images/shop/tshirts/4.jpg', alt='Black Polo Tshirt')
                        a(href='#')
                          img(src='images/shop/tshirts/4-1.jpg', alt='Black Polo Tshirt')
                        .product-overlay
                          a.add-to-cart(href='#')
                            i.icon-shopping-cart
                            span  Add to Cart
                          a.item-quick-view(href='include/ajax/shop-item.html', data-lightbox='ajax')
                            i.icon-zoom-in2
                            span  Quick View
                      .product-desc
                        .product-title
                          h3
                            a(href='#') Black Polo Tshirt
                        .product-price $11.49
                        .product-rating
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
                          i.icon-star3
          .section.nobottommargin
            .container.clearfix
              .col_one_fourth.nobottommargin
                .feature-box.fbox-plain.fbox-dark.fbox-small
                  .fbox-icon
                    i.icon-thumbs-up2
                  h3 100% Original
                  p.notopmargin We guarantee you the sale of Original Brands.
              .col_one_fourth.nobottommargin
                .feature-box.fbox-plain.fbox-dark.fbox-small
                  .fbox-icon
                    i.icon-credit-cards
                  h3 Payment Options
                  p.notopmargin We accept Visa, MasterCard and American Express.
              .col_one_fourth.nobottommargin
                .feature-box.fbox-plain.fbox-dark.fbox-small
                  .fbox-icon
                    i.icon-truck2
                  h3 Free Shipping
                  p.notopmargin Free Delivery to 100+ Locations on orders above $40.
              .col_one_fourth.nobottommargin.col_last
                .feature-box.fbox-plain.fbox-dark.fbox-small
                  .fbox-icon
                    i.icon-undo
                  h3 30-Days Returns
                  p.notopmargin Return or exchange items purchased within 30 days.
      // #content end
      //
        Footer
        =============================================
      footer#footer.dark
        .container
          //
            Footer Widgets
            =============================================
          .footer-widgets-wrap.clearfix
          // .footer-widgets-wrap end
        //
          Copyrights
          =============================================
        #copyrights
          .container.clearfix
        // #copyrights end
      // #footer end
    // #wrapper end
    //
      Go To Top
      =============================================
    #gotoTop.icon-angle-up
    //
      External JavaScripts
      =============================================
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/plugins.js')
    //
      Footer Scripts
      =============================================
    script(type='text/javascript', src='js/functions.js')
    // SLIDER REVOLUTION 5.x SCRIPTS
    script(type='text/javascript', src='include/rs-plugin/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/jquery.themepunch.revolution.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.video.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.actions.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.navigation.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.migration.min.js')
    script(type='text/javascript', src='include/rs-plugin/js/extensions/revolution.extension.parallax.min.js')
    script(type='text/javascript').
      var tpj=jQuery;
      tpj.noConflict();
      tpj(document).ready(function() {
      var apiRevoSlider = tpj('.tp-banner').show().revolution(
      {
      sliderType:"standard",
      jsFileLocation:"include/rs-plugin/js/",
      sliderLayout:"fullwidth",
      dottedOverlay:"none",
      delay:9000,
      navigation: {},
      responsiveLevels:[1200,992,768,480,320],
      gridwidth:1140,
      gridheight:500,
      lazyType:"none",
      shadow:0,
      spinner:"off",
      autoHeight:"off",
      disableProgressBar:"on",
      hideThumbsOnMobile:"off",
      hideSliderAtLimit:0,
      hideCaptionAtLimit:0,
      hideAllCaptionAtLilmit:0,
      debugMode:false,
      fallbacks: {
      simplifyAll:"off",
      disableFocusListener:false,
      },
      navigation: {
      keyboardNavigation:"off",
      keyboard_direction: "horizontal",
      mouseScrollNavigation:"off",
      onHoverStop:"off",
      touch:{
      touchenabled:"on",
      swipe_threshold: 75,
      swipe_min_touches: 1,
      swipe_direction: "horizontal",
      drag_block_vertical: false
      },
      arrows: {
      style: "ares",
      enable: true,
      hide_onmobile: false,
      hide_onleave: false,
      tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
      left: {
      h_align: "left",
      v_align: "center",
      h_offset: 10,
      v_offset: 0
      },
      right: {
      h_align: "right",
      v_align: "center",
      h_offset: 10,
      v_offset: 0
      }
      }
      }
      });
      apiRevoSlider.bind("revolution.slide.onloaded",function (e) {
      SEMICOLON.slider.sliderParallaxDimensions();
      });
      }); //ready
