doctype html
html(dir='ltr', lang='en-US')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='author', content='SemiColonWeb')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='style.css', type='text/css')
    link(rel='stylesheet', href='css/dark.css', type='text/css')
    link(rel='stylesheet', href='css/font-icons.css', type='text/css')
    link(rel='stylesheet', href='css/animate.css', type='text/css')
    link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
    link(rel='stylesheet', href='css/responsive.css', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CPG.IO
    
  body.stretched.dark
    //
      Document Wrapper
      =============================================
    #wrapper.clearfix
      #most-toppest
      section#slider.slider-parallax.full-screen.page-section.dark.clearfix
        .slider-parallax-inner
          .fslider(data-speed='2000', data-pause='6000', data-animation='fade', data-arrows='false', data-pagi='false', style='position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;')
            .flexslider(style='height: 100% !important;')
              .slider-wrap(style='height: inherit;')
                .slide(style="background: url('images/services-supply-chain.jpg') center center; background-size: cover; height: 100% !important;")
          a.one-page-arrow(href='#', data-scrollto='#section-couple')
            i.icon-angle-down.infinite.animated.fadeInDown
      //
        Header
        =============================================
      header#header
        #header-wrap
          .container.clearfix
            #primary-menu-trigger
              i.icon-reorder
            #logo
            //
              Primary Navigation
              =============================================
            nav#primary-menu.style-2.center
              ul.one-page-menu
                li
                  a(href='index-services', data-href='#most-fulfillment')
                    div Home
                li
                  a(href='#', data-href='#most-fulfillment')
                    div Fulfillment
                li
                  a(href='#', data-href='#section-handling')
                    div Handling
                li
                  a(href='#', data-href='#section-packaging')
                    div Packaging
                li
                  a(href='#', data-href='#section-orders')
                    div Order Management
            // #primary-menu end
      // #header end
      //
        Content
        =============================================
      section#content
        .content-wrap
          .container.clearfix
            #section-fulfillment.heading-block.title-left.page-section
              h2 Fulfillment
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-onboarding.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Slotting Your Inventory
                    span.subtitle Landing your first shipment & allocating space.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-erp.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Import Inventory Data
                    span.subtitle SKU Setup in ERP, quantities and special instructions.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-pick.jpg', alt='Image')
                .fbox-desc
                  h3
                    | From shelf to carrier
                    span.subtitle Orders processed with care, same day before 6pm.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #section-packaging.heading-block.title-left.page-section
              h2 Handling
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-storage.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Door to Door
                    span.subtitle Full support and fully insured.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-temp.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Refrigerated Items
                    span.subtitle Full support for perishable goods.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-lot.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Dated and Numbered
                    span.subtitle All lots are tracked as necessary.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #section-packaging.heading-block.title-left.page-section
              h2 Packaging
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-package.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Custom Package Solutions
                    span.subtitle Frustration free packaging for enhanced customer experience.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-carrier.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Best Shipping Rates
                    span.subtitle Best solutions, rates and routes with shippers.
            .col_one_third.col_last
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-compliance.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Shipping Safety Governance
                    span.subtitle Material safety and code conmpliance with carriers.
          .clear
          .container.clearfix(style='margin-top:40px;')
            #section-returns.heading-block.title-left.page-section
              h2 Order Management
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-processing.jpg', alt='Image')
                .fbox-desc
                  h3
                    | EDI Order Processing
                    span.subtitle From checkout to order shipped, our ERP is fully automated.
            .col_one_third
              .feature-box.center.media-box.fbox-bg
                .fbox-media
                  img(src='images/chain-returns.jpg', alt='Image')
                .fbox-desc
                  h3
                    | Return Management
                    span.subtitle A complete RMA program with built-in ticketing and reporting.
          .clear

      // #content end
      //
        Footer
        =============================================
    include snippets/footer