footer#footer.dark
  #copyrights
    .container.center.clearfix
      | Copyrights © 2017 All Rights Reserved by CPG.IO
      br
      .copyright-links
        a(href='') Contact Us
        |  / 
        a(href='http://twitter.com/smclweb') Twitter
          
#gotoTop.icon-angle-up
//
  External JavaScripts
  =============================================
script(type='text/javascript', src='js/jquery.js')
script(type='text/javascript', src='js/plugins.js')
//
  Footer Scripts
  =============================================
script(type='text/javascript', src='js/functions.js')
script(type='text/javascript', src='https://maps.google.com/maps/api/js?key=YOUR_API_KEY')
script(type='text/javascript', src='js/jquery.gmap.js')
script(type='text/javascript').
  jQuery(document).ready( function($){
  var newDate = new Date(2017, 2, 31);
  $('#countdown-ex1').countdown({until: newDate});
  });
  jQuery(window).load(function(){
  var t=setTimeout(function(){
  $( '.flexslider .slide' ).resize();
  },500);
  });
  $('#google-map1').gMap({
  address: 'Melbourne, Australia',
  maptype: 'ROADMAP',
  zoom: 13,
  markers: [
  {
  address: 'Westgate Park, Melbourne, Australia',
  html: 'Cocktail Party'
  },
  {
  address: 'Crown Casino and Entertainment Complex, Melbourne, Australia',
  html: 'Wedding Ceremony'
  },
  {
  address: 'Federation Square, Melbourne, Australia',
  html: 'After Wedding Party'
  }
  ],
  doubleclickzoom: false,
  controls: {
  panControl: false,
  zoomControl: true,
  mapTypeControl: false,
  scaleControl: false,
  streetViewControl: false,
  overviewMapControl: false
  }
  });
