footer#footer.dark(style='background-color:#220E2F !important;')
  #footer-container_k.row(style='margin: auto; display:block;')
    #first.col-md-3.col-xs-12
      .buffer
        a(href='https://domeha.com/pages/about-us')
          p About
        a(href='https://domeha.com/pages/careers')
          p Careers
        a(href='https://domeha.com/pages/press')
          p Press
        a(href='https://domeha.com/blogs/news')
          p Blog
    .col-md-3.col-xs-12
      .buffer
        a(href='https://support.domeha.com/hc/en-us/requests/new')
          p Contact
        a(href='https://support.domeha.com/hc/en-us/requests/new')
          p Support
        a(href='http://www.elexausa.com/')
          p Elexa USA
        a#footer_modal_button(href='#', <='', a='')
    .col-md-3.col-xs-12
      .buffer
        a(href='https://domeha.com/collections/all')
          p Z-Wave Products
        a(href='https://domeha.com/pages/guardian-page')
          p Guardian Products
        a(href='https://domeha.com/pages/blogs-by-category/installation_guides')
          p How To Guides
        a(href='https://domeha.com/pages/press')
          p Dome News
    .col-md-3.col-xs-12
      .buffer
        a(href='https://www.youtube.com/channel/UCuqjZpsNcaWkbH6T1_PTQ3Q')
          p YouTube
        a(href='https://www.facebook.com/DomeByElexa')
          p Facebook
        a(href='https://twitter.com/DomeByElexa')
          p Twitter
        a(href='https://www.linkedin.com/company/16181754')
          p LinkedIn
  .row
    .col-md-12
      p.text-center(style='margin-bottom: 10px;') Sign up for Dome Home Automation News, Updates and Promotions
      .form-inline
        .form-group
          input.form-control(type='text', placeholder='Email Address', style='vertical-align: baseline; display:inline-block; background-color: white; border: none;')
          |  
          button.btn.btn-active(style='display: inline-block') Submit
      |  
      small(style='display: block; text-align:center; color: #756E79;') Dome, by Elexa Consumer Products Inc. 2016 &#x24B8;
// #footer end
